*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;

}

header h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

main{
    background-color: #d9d6d6;
    padding: 10px 30px 30px;

}
form {
    display: grid;
    gap: 5px;

}

label {margin-top: 15px;
    
    

}
input, textarea, select, button {
    padding: 15px 15px;
    
}



.codigo {
    background-color: #222;
    color: white;
    width: 450px;
    padding: 10px;
    margin:  10px auto;
  
   
}
button {
    width: 100%;
    padding: 14px;
   margin-top: 10px;
    font-size: 1rem;
    background-color: #06069f;
    color: #ffffff;
    cursor: pointer;
}
